{% extends "home/base.html" %}
{% block content %}
  <h1 class="display-4 my-3">About Me!</h1>
  <p class="h5 py-2">
    Hi I'm Riley. I am a Software Engineer, that has a background in fullstack development.
    I have developed fullstack data analysis applications for <a class="text-decoration-none" href="https://www.hpe.com/us/en/home.html" target="_blank">Hewlett Packard Enterprise</a>.
    These applications were built using <a class="text-decoration-none" href="https://dotnet.microsoft.com/en-us/" target="_blank">.Net</a> and <a class="text-decoration-none" href="https://reactjs.org/" target="_blank">React</a> to create internal data analysis tools.
  </p>
  <p class="h5 py-2">
    I also have a deep passion for Unix systems their management and deployment.
    I myself work on a Ubuntu system, and host some personal services on Raspberry Pi devices including <a class="text-decoration-none" href="https://pi-hole.net/" target="_blank">PiHole</a>.
    At HPE I developed and deployed systems for a Data Lake using <a class="text-decoration-none" href="https://www.elastic.co/what-is/elk-stack" target="_blank">ELK Stack</a>, before a reorg shifted my focus.
  </p>
  <p class="h5 py-2">
    I have sense moved on from HPE to travel the world, and move in a professional direction that fits me better.
    In this time I have gone to building projects using such technologies as the <a class="text-decoration-none" href="https://www.djangoproject.com/" target="_blank">Django Framework</a> for project development.
    These projects are currently being hosted on AWS <a class="text-decoration-none" href="https://aws.amazon.com/ec2/" target="_blank">EC2</a>, file storage from <a class="text-decoration-none" href="https://aws.amazon.com/s3/" target="_blank">S3</a>, and databases on <a class="text-decoration-none" href="https://aws.amazon.com/rds/" target="_blank">RDS</a>.
  </p>
  <p class="h5 py-2">
    My current project is Profit-To99.
    This web application is designed to help players of <a class="text-decoration-none" href="https://oldschool.runescape.com/" target="_blank">Old School RuneScape</a> level up their stats in a way that can be profitable in-game.
    It uses an Python package, <a class="text-decoration-none" href="https://github.com/RileyFitz/OSRSBytes" target="_blank">OSRSBytes</a>, to pull live in game prices, and then correlate those prices to find the most profitable methods of skilling.
    While a good deal of work has been undergone on this project, I am currently redesigning it to be Javascript based, instead of HTML based to be able to include the necessary functionality.
  </p>
  <p class="h5 py-3">
    If you have any other questions, I implore you to reach out. You can find my contact information <a class="text-decoration-none" href="{% url 'contact' %}">here</a>.
  </p>
{% endblock content %}
