{% extends "home/base.html"%}
{% block content %}
  <div class="container py-3">
    <h1 class="display-3 py-2">Contact</h1>
    <ul class="list-unstyled">
      <li class="py-2"><a class="text-decoration-none text-reset" href="mailto:riley@riley-fitz.com" target="_blank"><i class="bi bi-file-earmark-person px-2"></i>Resume: Shoot me an email 😉</a></li>
      <li class="py-2"><a class="text-decoration-none text-reset" href="mailto:riley@riley-fitz.com" target="_blank"><i class="bi bi-mailbox px-2"></i>Email: Riley@Riley-Fitz.com</a></li>
      <li class="py-2"><a class="text-decoration-none text-reset" href="https://github.com/RileyFitz" target="_blank"><i class="bi bi-github px-2"></i>Github: @RileyFitz</a></li>
      <li class="py-2"><a class="text-decoration-none text-reset" href="https://www.linkedin.com/in/riley-fitzgibbons-49b10916b/" target="_blank"><i class="bi bi-linkedin px-2"></i>LinkedIn: Riley Fitz</a></li>
    </ul>
  </div>
{% endblock %}
