{% extends "home/base.html"%}
{% block content %}
<div class="shadow-4 rounded-3 py-4 w-75">
  <h2 class="display-4  ">Hello, I'm Riley 👋</h2>
  <p class="h5">
    I'm a Software Engineer from Denver, Colorado.
    I collect notes here to refer back to, and hopefully help others if they come across similar issues.
    You can find more out about me <a href="{% url 'about' %}">here</a>.
  </p>
</div>
<hr>
  {% for post in posts %}
    <article class="media content-section">
      <a class="text-decoration-none text-reset" href="{% url 'post-detail' post.id %}">
        <div class="media-body">
          <div class="article-metadata">
            <small class="text-muted">{{ post.publish_date|date:"F d, Y" }}</small>
          </div>
          <h2 class="h3">{{ post.title }}</h2>
          <p class="article-content">{{ post.subtitle }}</p>
        </div>
      </a>
    </article>
    <hr class="my-3">
  {% endfor %}
{% endblock content%}
